In [16]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [5]:
studentinfo = pd.read_csv('student.csv', delimiter=';')

In [6]:
studentinfo.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [14]:
studf = studentinfo[['G1','G2','G3','Mjob','Fjob']]

In [15]:
studf.head()

   G1  G2  G3     Mjob      Fjob
0   0  11  11  at_home   teacher
1   9  11  11  at_home     other
2  12  13  12  at_home     other
3  14  14  14   health  services
4  11  13  13    other     other

In [9]:
mean = studf.mean()

In [10]:
mean

G1    11.399076
G2    11.570108
G3    11.906009
dtype: float64

In [11]:
std = studf.std()

In [12]:
std

G1    2.745265
G2    2.913639
G3    3.230656
dtype: float64