In [5]:
import requests
import pandas as pd
import json

In [6]:
pull_data = requests.get('https://mds.bird.co/gbfs/los-angeles/free_bikes').json()

In [18]:
mds_df = pd.DataFrame(pull_data['data']['bikes'])

In [19]:
mds_df

,bike_id,lat,lon,is_reserved,is_disabled
0,45bd3dd7-8c72-4b4d-a356-8cf3a7bcb7b0,34.056608,-118.237572,0,0
1,d2ea6b6e-5e27-4218-b4df-d9667a1df48e,34.033535,-118.381542,0,0
2,462226eb-051b-4926-8e6f-201fadca4e29,34.052589,-118.268121,0,0
3,2fac580a-a4c6-4f67-8966-28fddd40b509,33.991888,-118.413923,0,0
4,9b49ccf0-7d31-4bc5-9f49-adfe13d9764b,34.030512,-118.402159,0,0
...,...,...,...,...,...
2051,052ef59b-dd3f-45fa-a752-e2a3ae53c16c,34.087188,-118.346790,0,0
2052,0077dd08-a30d-4b5b-a44a-b30b291f7e6a,34.085588,-118.361803,0,0
2053,b3c9b95e-c84e-4a92-b689-291f184eab59,34.101327,-118.323928,0,0
2054,54c286fa-25a6-466a-8a0b-3a617d3ae454,34.027618,-118.280578,0,0
2055,15b2f361-30ec-4fd6-9f28-ccc8e57cc261,34.046899,-118.257271,0,0

In [26]:
count_of = len(mds_df['bike_id'])

In [27]:
time_track = pull_data['last_updated']

In [28]:
# def store_to():

In [31]:
f = open('mds_dash.csv','w')
f.write(str(count_of)) #Give your csv text here.
## Python will convert \n to os.linesep
f.close()