In [2]:
import pandas as pd

df = pd.read_csv('Minimum Wage Data.csv', encoding="latin")
df.to_csv("minwage.csv", encoding="utf-8")

In [4]:
df = pd.read_csv('minwage.csv')
df.head()

,Unnamed: 0,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

In [9]:
gb = df.groupby("State")
gb.get_group("Alabama").set_index("Year").head()

,Unnamed: 0,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
Year,,,,,,,,,
1968,0,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
1969,55,Alabama,...,NaN,0.0,0.0,36.683333,0.0,0.0
1970,110,Alabama,...,NaN,0.0,0.0,38.825000,0.0,0.0
1971,165,Alabama,...,NaN,0.0,0.0,40.491667,0.0,0.0
1972,220,Alabama,...,NaN,0.0,0.0,41.816667,0.0,0.0

In [21]:
act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name})
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name}))
        
act_min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,15.12,3.37,1.12,11.88,7.20,10.08,9.00,9.00,8.28,...,0.0,0.00,NaN,7.20,10.08,0.0,11.52,7.20,9.00,8.64
1969,0.0,14.33,3.19,1.07,11.26,6.83,9.56,8.53,8.53,7.85,...,0.0,0.00,NaN,6.83,9.56,0.0,10.92,6.83,8.53,8.19
1970,0.0,13.54,3.02,7.09,10.64,6.45,10.32,8.06,10.32,8.38,...,0.0,0.00,NaN,6.45,10.32,0.0,10.32,6.45,8.38,8.38
1971,0.0,12.99,2.89,6.80,10.20,6.18,9.89,7.73,9.89,8.04,...,0.0,0.00,NaN,6.18,9.89,0.0,9.89,6.18,8.04,8.04
1972,0.0,12.57,2.80,7.19,9.88,5.99,11.08,9.58,9.58,9.58,...,0.0,8.38,NaN,7.19,9.58,0.0,9.58,7.19,8.68,8.98

In [11]:
act_min_wage.describe()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
count,50.0,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,...,50.0,50.000000,39.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,0.0,9.583800,2.316200,6.781600,8.632800,6.389800,8.823600,7.498800,8.343200,7.773200,...,0.0,5.541200,6.643590,6.836600,8.657400,5.897400,8.301800,7.166400,7.694200,5.149200
std,0.0,1.845176,3.474504,1.341223,1.187508,1.521052,1.023613,1.265436,1.476133,0.887354,...,0.0,2.202229,1.590176,0.819367,0.984647,2.726151,1.868613,0.793673,0.762675,1.998928
min,0.0,7.380000,0.000000,1.070000,6.420000,3.840000,6.820000,4.410000,5.510000,6.220000,...,0.0,0.000000,4.390000,4.790000,6.800000,0.000000,4.410000,5.580000,6.420000,2.260000
25%,0.0,8.252500,0.000000,6.522500,7.695000,5.072500,7.865000,7.015000,7.097500,7.172500,...,0.0,4.762500,5.105000,6.317500,7.800000,5.892500,7.227500,6.630000,7.107500,3.270000
50%,0.0,8.890000,0.000000,6.920000,8.670000,6.375000,9.075000,7.845000,8.510000,7.655000,...,0.0,6.070000,6.770000,6.930000,8.885000,6.855000,9.055000,7.075000,7.580000,5.445000
75%,0.0,10.492500,3.147500,7.290000,9.307500,7.677500,9.455000,8.327500,9.140000,8.242500,...,0.0,7.105000,7.830000,7.470000,9.372500,7.620000,9.672500,7.612500,8.145000,6.607500
max,0.0,15.120000,10.220000,8.680000,11.880000,9.500000,11.080000,9.580000,12.000000,10.010000,...,0.0,8.380000,10.010000,8.330000,10.320000,8.800000,11.520000,9.130000,9.660000,8.980000

In [17]:
act_min_wage.corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.018638,-0.377934,0.717653,-0.129332,0.680886,0.258997,0.321785,0.637679,...,NaN,-0.522472,0.277016,-0.020462,0.663558,-0.601640,0.411593,0.044814,0.702570,0.727932
Arizona,NaN,0.018638,1.000000,0.089395,0.498994,0.742527,0.458163,0.429836,0.590848,-0.049914,...,NaN,0.369900,-0.758607,0.439344,0.517960,0.047405,0.587975,0.584596,0.131588,0.346528
Arkansas,NaN,-0.377934,0.089395,1.000000,-0.234367,0.135749,0.047580,0.016125,0.266889,0.117245,...,NaN,0.503242,-0.204485,0.194680,0.087429,0.582192,-0.072343,0.420819,0.000470,-0.250592
California,NaN,0.717653,0.498994,-0.234367,1.000000,0.483313,0.876215,0.479197,0.596865,0.371966,...,NaN,-0.239533,-0.417782,0.392898,0.877922,-0.326364,0.754085,0.371765,0.584067,0.722617

In [18]:
df.head()

,Unnamed: 0,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,0,1968,Alabama,...,NaN,0.00000,0.00000,34.783333,0.00,0.00
1,1,1968,Alaska,2.10,NaN,2.10000,2.10000,34.783333,15.12,15.12
2,2,1968,Arizona,18.72 - 26.40/wk(b),(b),0.66000,0.46800,34.783333,4.75,3.37
3,3,1968,Arkansas,1.25/day(b),(b),0.15625,0.15625,34.783333,1.12,1.12
4,4,1968,California,1.65(b),(b),1.65000,1.65000,34.783333,11.88,11.88

In [24]:
issue_df = df[df['Low.2018']==0]
issue_df.head()

,Unnamed: 0,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,0,1968,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
10,10,1968,Florida,...,NaN,0.0,0.0,34.783333,0.0,0.0
11,11,1968,Georgia,...,NaN,0.0,0.0,34.783333,0.0,0.0
15,15,1968,Illinois,...,NaN,0.0,0.0,34.783333,0.0,0.0
17,17,1968,Iowa,...,NaN,0.0,0.0,34.783333,0.0,0.0

In [25]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'Virginia', 'Arizona'],
      dtype=object)

In [31]:
import numpy as np

act_min_wage.replace(0, np.NaN).dropna(axis=1).corr()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),Guam,Hawaii,...,Pennsylvania,Puerto Rico,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Alaska,1.000000,-0.377934,0.717653,-0.129332,0.680886,0.258997,0.321785,0.637679,0.787915,0.672620,...,0.610814,-0.038118,0.652353,-0.326316,-0.020462,0.663558,0.411593,0.044814,0.702570,0.727932
Arkansas,-0.377934,1.000000,-0.234367,0.135749,0.047580,0.016125,0.266889,0.117245,0.039593,0.204801,...,0.159923,0.232186,0.003498,0.800116,0.194680,0.087429,-0.072343,0.420819,0.000470,-0.250592
California,0.717653,-0.234367,1.000000,0.483313,0.876215,0.479197,0.596865,0.371966,0.492052,0.519241,...,0.429061,0.512712,0.780916,-0.036787,0.392898,0.877922,0.754085,0.371765,0.584067,0.722617
Colorado,-0.129332,0.135749,0.483313,1.000000,0.402020,0.566304,0.673371,-0.232035,-0.192616,0.069800,...,-0.136195,0.657364,0.429852,0.399137,0.622330,0.448485,0.612637,0.533623,0.011501,0.130053
Connecticut,0.680886,0.047580,0.876215,0.402020,1.000000,0.552613,0.652488,0.487750,0.632073,0.621503,...,0.531769,0.626712,0.802485,0.105707,0.302538,0.898469,0.715691,0.400099,0.585790,0.814971
Delaware,0.258997,0.016125,0.479197,0.566304,0.552613,1.000000,0.796457,-0.009271,0.179312,0.466178,...,0.038750,0.427616,0.772410,0.318865,0.501815,0.487378,0.830850,0.436045,0.071042,0.502713
District of Columbia,0.321785,0.266889,0.596865,0.673371,0.652488,0.796457,1.000000,0.151129,0.335275,0.603762,...,0.159928,0.513618,0.820135,0.525490,0.537581,0.718686,0.798094,0.644477,0.267017,0.438793
Federal (FLSA),0.637679,0.117245,0.371966,-0.232035,0.487750,-0.009271,0.151129,1.000000,0.881708,0.472021,...,0.942402,0.011784,0.266963,0.098267,0.221539,0.504419,0.075067,0.272645,0.870658,0.328639
Guam,0.787915,0.039593,0.492052,-0.192616,0.632073,0.179312,0.335275,0.881708,1.000000,0.590844,...,0.814443,-0.002810,0.472814,-0.022460,0.098186,0.557049,0.223620,0.147441,0.738986,0.542694
Hawaii,0.672620,0.204801,0.519241,0.069800,0.621503,0.466178,0.603762,0.472021,0.590844,1.000000,...,0.517041,0.097491,0.741192,0.197210,0.099742,0.692043,0.500421,0.408709,0.599138,0.599665
Idaho,0.371515,-0.006833,0.623225,0.521063,0.563913,0.708405,0.671306,0.338621,0.410607,0.368091,...,0.336762,0.384715,0.608707,0.361028,0.843642,0.571039,0.792100,0.394586,0.376538,0.398222
Indiana,0.352950,-0.116454,0.793831,0.665580,0.731378,0.675197,0.664098,0.133628,0.262175,0.311292,...,0.169052,0.710746,0.676312,0.217810,0.662085,0.702334,0.884676,0.390353,0.272633,0.576864
Kentucky,-0.569134,0.427054,-0.152946,0.497117,-0.179488,0.200148,0.237560,-0.255126,-0.501651,-0.141714,...,-0.237805,0.414329,-0.006553,0.754947,0.547048,0.014395,0.167597,0.618312,-0.176467,-0.423665
Maine,0.784052,-0.059840,0.716943,0.100846,0.666562,0.173486,0.375888,0.622760,0.575916,0.716290,...,0.649450,0.184973,0.640188,0.051051,0.164233,0.814240,0.441776,0.353293,0.798669,0.581278
Maryland,0.487056,0.443650,0.377899,-0.044345,0.553702,0.039299,0.346281,0.880329,0.824104,0.517447,...,0.869714,0.178845,0.350190,0.369260,0.264487,0.579382,0.128251,0.479068,0.768901,0.271276
Massachusetts,0.726248,-0.136325,0.942760,0.469242,0.905269,0.537094,0.656305,0.416165,0.557130,0.604166,...,0.467695,0.508216,0.803758,-0.012230,0.341078,0.887631,0.729475,0.420851,0.587236,0.710190
Michigan,0.606292,0.113882,0.654850,0.184005,0.747738,0.142551,0.379898,0.737017,0.690024,0.487391,...,0.811266,0.410665,0.474120,0.094137,0.167255,0.753253,0.317154,0.503502,0.822971,0.534698
Minnesota,-0.384472,0.452996,-0.318507,-0.070367,-0.357928,-0.419871,-0.194168,0.034715,-0.281617,-0.181494,...,0.004847,-0.111083,-0.306054,0.456192,0.110139,-0.166611,-0.401047,0.309698,0.038940,-0.658956
Nebraska,-0.142350,0.180337,0.232873,0.736112,0.185571,0.752485,0.734443,-0.250411,-0.185862,0.199326,...,-0.247247,0.408780,0.512481,0.605302,0.627678,0.280478,0.616860,0.640071,-0.149191,0.017794
Nevada,0.713637,-0.005549,0.537317,0.085357,0.632557,0.559386,0.522322,0.759930,0.786231,0.679905,...,0.776806,0.104381,0.650662,0.156953,0.363154,0.631186,0.503730,0.384722,0.758705,0.553051
New Hampshire,0.817509,-0.192707,0.559870,-0.147020,0.544013,0.084726,0.186286,0.905728,0.848651,0.541385,...,0.881187,-0.051332,0.413565,-0.136714,0.154479,0.582379,0.196878,0.214541,0.887207,0.468841
New Jersey,0.726091,-0.093417,0.643447,0.045434,0.529780,0.185884,0.403857,0.640923,0.656598,0.702774,...,0.698329,0.035513,0.581925,0.019043,0.265946,0.693909,0.412325,0.395980,0.812427,0.436620
New Mexico,0.521504,0.042759,0.538274,0.213957,0.532646,0.205677,0.453302,0.610602,0.549588,0.633616,...,0.644610,0.303179,0.513619,0.220143,0.294331,0.710200,0.389211,0.605957,0.718676,0.454799
New York,0.881634,-0.236279,0.763132,0.002463,0.776332,0.291382,0.403779,0.640902,0.790776,0.651270,...,0.675860,0.174415,0.670161,-0.185229,0.058499,0.757560,0.473884,0.234554,0.713399,0.760379
North Carolina,0.454404,0.413676,0.450594,0.212403,0.629509,0.353903,0.528760,0.790967,0.717387,0.651703,...,0.820732,0.341955,0.492652,0.440417,0.444775,0.673769,0.370435,0.584352,0.798152,0.389918
North Dakota,-0.002899,0.304853,0.204418,0.314025,0.114565,0.183239,0.364079,0.348061,0.059348,0.207330,...,0.338249,0.310396,0.262477,0.676193,0.717899,0.411121,0.344417,0.729502,0.430561,-0.143981
Ohio,-0.181850,0.296669,0.072433,0.380842,-0.047880,0.060297,0.240203,0.157740,-0.035121,0.084575,...,0.279807,0.169099,0.066580,0.570984,0.562027,0.207507,0.179547,0.620148,0.273079,-0.209855
Oklahoma,0.308927,-0.212602,-0.315364,-0.751726,-0.332086,-0.417430,-0.475629,0.428560,0.398503,0.046429,...,0.334692,-0.866261,-0.297262,-0.430886,-0.389910,-0.367283,-0.580610,-0.439351,0.234480,-0.187603
Oregon,-0.008462,0.274903,0.439329,0.648864,0.378981,0.509889,0.622831,0.004197,-0.125297,0.271349,...,0.074495,0.612441,0.555203,0.664790,0.714570,0.582661,0.692279,0.741230,0.227386,0.121308
Pennsylvania,0.610814,0.159923,0.429061,-0.136195,0.531769,0.038750,0.159928,0.942402,0.814443,0.517041,...,1.000000,0.065668,0.313937,0.102966,0.221608,0.561921,0.136328,0.327921,0.903752,0.381637
Puerto Rico,-0.038118,0.232186,0.512712,0.657364,0.626712,0.427616,0.513618,0.011784,-0.002810,0.097491,...,0.065668,1.000000,0.403617,0.415485,0.462028,0.596942,0.619444,0.566506,0.131132,0.387868
Rhode Island,0.652353,0.003498,0.780916,0.429852,0.802485,0.772410,0.820135,0.266963,0.472814,0.741192,...,0.313937,0.403617,1.000000,0.232784,0.336389,0.830723,0.838952,0.496287,0.419292,0.697238
South Dakota,-0.326316,0.800116,-0.036787,0.399137,0.105707,0.318865,0.525490,0.098267,-0.022460,0.197210,...,0.102966,0.415485,0.232784,1.000000,0.601715,0.258611,0.295611,0.704726,0.040677,-0.201014
Utah,-0.020462,0.194680,0.392898,0.622330,0.302538,0.501815,0.537581,0.221539,0.098186,0.099742,...,0.221608,0.462028,0.336389,0.601715,1.000000,0.405379,0.602834,0.571100,0.271399,0.006982
Vermont,0.663558,0.087429,0.877922,0.448485,0.898469,0.487378,0.718686,0.504419,0.557049,0.692043,...,0.561921,0.596942,0.830723,0.258611,0.405379,1.000000,0.752854,0.578411,0.687823,0.694873
Washington,0.411593,-0.072343,0.754085,0.612637,0.715691,0.830850,0.798094,0.075067,0.223620,0.500421,...,0.136328,0.619444,0.838952,0.295611,0.602834,0.752854,1.000000,0.482333,0.260386,0.632205
West Virginia,0.044814,0.420819,0.371765,0.533623,0.400099,0.436045,0.644477,0.272645,0.147441,0.408709,...,0.327921,0.566506,0.496287,0.704726,0.571100,0.578411,0.482333,1.000000,0.375219,0.099333
Wisconsin,0.702570,0.000470,0.584067,0.011501,0.585790,0.071042,0.267017,0.870658,0.738986,0.599138,...,0.903752,0.131132,0.419292,0.040677,0.271399,0.687823,0.260386,0.375219,1.000000,0.413167
Wyoming,0.727932,-0.250592,0.722617,0.130053,0.814971,0.502713,0.438793,0.328639,0.542694,0.599665,...,0.381637,0.387868,0.697238,-0.201014,0.006982,0.694873,0.632205,0.099333,0.413167,1.000000

In [34]:
min_wage_corr = act_min_wage.replace(0, np.NaN).dropna(axis=1).corr()
for problem in issue_df['State'].unique():
    if problem in min_wage_corr.columns:
        print("we're missing something here...")

In [39]:
grouped_issues = issue_df.groupby("State")

grouped_issues.get_group("Alabama").head(3)

,Unnamed: 0,Year,State,Table_Data,Footnote,High.Value,Low.Value,CPI.Average,High.2018,Low.2018
0,0,1968,Alabama,...,NaN,0.0,0.0,34.783333,0.0,0.0
55,55,1969,Alabama,...,NaN,0.0,0.0,36.683333,0.0,0.0
110,110,1970,Alabama,...,NaN,0.0,0.0,38.825000,0.0,0.0

In [40]:
grouped_issues.get_group("Alabama")['Low.2018'].sum()

0.0

In [42]:
for state, data in grouped_issues:
    if data['Low.2018'].sum() != 0.0:
        print("We missed something!")